<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

<link href="{{ url_for('static',filename='backend/plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static',filename='backend/plugins/bootstrap/css/bootstrap-rtl.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static',filename='backend/plugins/node-waves/waves.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static',filename='backend/plugins/animate-css/animate.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static',filename='backend/plugins/morrisjs/morris.css') }}" rel="stylesheet">
<link href="{{ url_for('static',filename='backend/css/style.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static',filename='backend/css/themes/all-themes.css') }}" rel="stylesheet">
{#<link href="{{ url_for('static',filename='backend/plugins/bootstrap-select/css/bootstrap-select.css') }}" rel="stylesheet"/>#}
{#<link rel="stylesheet" href="{{ url_for('static',filename='backend/plugins/select2/css/select2.min.css') }}">#}
<link href="{{ url_for('static',filename='backend/css/style-rtl.css') }}" rel="stylesheet">


